$bold: 600;
$extraBold: 800;

$fancyFontFamily: 'Audiowide', 'sans-serif';

$light-back-color: rgb(250,250,250);
$background-strip-color: #f4f4f4;

$text-color: rgb(255,255,255);
$text-color-disabled: rgb(166,166,166);
$active-color: #1976d2;
$text-color-active: rgb(255,255,255);
$background-hover: rgba(0,0,0, 0.1);
$border-radius: 8px;

// standard dialog mixin
@mixin standard-dialog-contents {
  width: 100%;
  flex: 0 1 auto;
  box-shadow: 0 2px 12px rgba(0,0,0,.3);
  background: white;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
}

@mixin inner-dialog-contents {
  // for the toast absolute
  position: relative;
  overflow: hidden;

  padding: 12px;

  flex: 1 1 auto;
  font-size: 1.2em;

  .button-holder {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

button {
  user-select: none;
}

.button-group {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 4px;
  }
}

// SNG hack, not sure why when building for production
// the input groups are collapsing vertically inside a flex box
// this fixes it, but not sure why See NewAccountDialog for repo
.input-group {
  display: block;
}
